/* Navigation and Footer*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  background: $white;
  z-index: 10;
}

nav a.logo {
  background-color: $blue;
  width: 2em;
  padding: 1em;
  justify-content: flex-start;
  img{
    width: 2em;
  }
  &:hover {
    background-color: $blue--hover;
  }
}

nav ul {
  display: inline-block;
  justify-content: flex-end;
  text-align: right;
  box-sizing: border-box;
  margin-right: 2em;
}

nav li {
  display: inline-block;
  a.active {
    color: $blue;
  }
}

// Overlay Nav
div.overlay-container#myNav {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear, opacity 0.3s $custom-timing;
  z-index: 9999;
}

div.overlay {
  background-color: #000;
  background-color: $black--90;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  ul {
    list-style-type: none;
  }
  * {
    color: $white;
  }
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul.overlay-nav {
  text-align: center;
}

i.fa.fa-close {
  position: absolute;
  color: $white;
  right: 0.5em;
  top: 0.5em;
  font-size: 2em;
  z-index: 9999;
}