// Main Slider

.slider{
	padding-top: 4em;
	position: relative;
}

.slick-dots li button {
	width: 3em;
	height: 0.5em;
	&:before {
		content: '';
	}
}

.slick-dots li {
	width: 3em;
	height: 0.5em;
	background-color: $black;
	opacity: 0.3;
	transition: all 0.3s ease-in-out;
	&:hover {
		opacity: 0.5;
	}
}

.slick-dots li.slick-active {
	background: $blue;
	opacity: 1;
}