@import "../helpers/variables";

@import "../components/article.scss";
@import "../components/buttons.scss";
@import "../components/typography.scss";

$primary-color: #b24c19;
$primary-color-overlay: #c6721e;
$secondary-color: #f6ecd1;

div.top_background{
  width: 100%;
  background-image: url("../../img/ravenna/mountains.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro{
  padding: 0;
  margin-bottom: 0;
  padding-bottom: 20em;
  h1{
    margin: 0;
  }
}

.design-mockup-container{
  width: 100%;
  margin: auto;
  position: relative;
  bottom: 20em;
}

img.design-mockup{
  width: 75%;
  left: 12.5%;
  position: relative;
  z-index: 5;
  margin: auto;
}

div.primary-color{
  width: 100%;
  padding: 0;
  background-color: $primary-color;
}

section.primary-color-section{
  background-color: $primary-color;
  max-width: 96em;
  padding: 0 3.2em;
  position: relative;
  bottom: 15em;
  padding-bottom: 3.2em;
  h2, h3, h4, p{
    color: #fff;
  }
  h4{
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
  h5{
    color: $primary-color-overlay !important;
    font-size: 1.3em;
  }
}

section.approved-design-section{
  position: relative;
  bottom: 8em;
}

.approved-design{
  width: 100%;
  z-index: 5;
}

div.secondary-color {
  background-color: $secondary-color;
}

section.secondary-color-section{
  padding: 6.4em 3.2em;
}
