.image-list{
  column-count: 3;
  column-gap: 0;
}

.fifty-fifty{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.fifty-fifty *{
  width: 50%;
}

//Article image layout sizes

article img.ravenna{
  max-width: 65em;
}

article img.release{
  max-width: 40em;
}
