.wrapper{
  padding: 0 2em;
}

// Homepage Articles
article.article{
  display: flex;
  align-items: center;
}

article.article.article-image-left{
  flex-direction: row;
}

article.article.article-image-right{
  flex-direction: row-reverse;
}

div.article-image-container{
  width: 50%;
}

div.article-text{
  width: 50%;
  padding: 0;
  * {
    text-align: left;
  }
}

article.article-image-right img.article-image {
  margin: auto;
  display: block;
  padding-left: 3em;
}

article.article-image-left img.article-image {
  margin: auto;
  display: block;
  padding-right: 3em;
}

article.article-image-right .article-text{
  padding-left: 3em;
}

article.article-image-left .article-text{
  padding-right: 3em;
}

article img.release {
  max-width: 50em;
}

article img.release{
  max-width: 30em;
}

//Illustration

.image-list{
  column-count: 2;
  column-gap: 0;
}

.image-list-item{
  break-inside: avoid;
  width: 98%;
}

img.image-list-item--image{
  max-width: 100%;
}

.textured{
  .sidebar {
    padding-left: 4em;
  }
}

.sidebar {
  width: 20%;
}

.main {
  display: block;
  width: 70%;
}

// Works Pages

div.top_background{
  display: flex;
}

div.top_background--content{
  display: flex;
  max-width: 96em;
  margin: auto;
  padding-bottom: 3.2em;
}

section.primary-color-section{
  padding-top: 4.8em;
}

.design-mockup-container{
  width: 55%;
  max-width: 60em;
  margin-right: 0;
  position: relative;
  z-index: 10;
  right: 0;
}

img.design-mockup{
  width: 80%;
  left: 12.5%;
  position: relative;
  z-index: 5;
  margin: auto;
}
